
<footer class="footer">		
		<div class="c">
			<section class="col_12">
				<p>
				</p>
			</section>
		</div>
</footer>
<style>

	.col_12 a {
		text-align: center;
		text-decoration: none;
		color: #505050;
		font-family:CalibriReg;
		font-weight: bold;
		text-transform: uppercase;
	}

.footer {
  position: absolute;
  right: 0;
  bottom: -50px;
  left: 0;
  padding: 0.1rem;
  background-color: #fff;
  text-align: center;
}
</style>