<footer id="global-footer">		
		<div class="c">
			<section class="col_12">
				<p>
					 <a href="#">Copyright © 2017 TheHeavyHitterDJs. All rights reserved.</a>
				</p>
			</section>
		</div>
</footer>
<style>
	.col_12 a {
		text-align: center;
		text-decoration: none;
		color: #505050;
		font-family:CalibriReg;
		font-weight: bold;
	}
</style>