

<div class="menuBar">
 
      <div class="content">
      <div class="logo_m">
		  <a href="/"><img src="../images/hh_icon.png" alt="Logo" style="height:191px" ></a>
        </div>
        
         
       <a href="/"><div class="enuff">
       
      
      	
       	<img src="../images/hh.png" style="height:110px">
       	
       </div></a>
       
       <div class="playlist">
		<div class="title_cont">
			Playlist
		</div>
		<div class="body-cont-sub">
			 
		</div>
	</div>
       
       <div class="social_box">
       
         <div class="sicon" style="margin-top: -8px;">
			  <a href="https://www.heavyhits.com/" target="_blank"><img src="../images/Heavy_Hits(HH).jpg"></a>
          </div>
       <div class="sicon">
			  <a href="https://www.facebook.com/DJ-Enuff-6222743052" target="_blank"><img src="../images/fb.png"></a>
          </div>
          <div class="sicon">
			  <a href="https://twitter.com/TheHeavyHitters" target="_blank"><img src="../images/tw.png"></a>
          </div>
          <div class="sicon">
			  <a href="https://www.instagram.com/theheavyhitters" target="_blank"><img src="../images/ig.png"></a>
          </div>
          <div class="sicon" style="padding-top:2px">
			  <a href="https://www.youtube.com/channel/UCn0Db21g7ZVm4oXsUYserTw" target="_blank"><img src="../images/YouTube-logo-full_color.jpg" style="width:22px!important; margin-top:-2px"></a>
          </div>
        </div>
        <div class="nav"> 
      